body {
  background-color: #1e1e1e;
  color: #00ff00;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 20px; /* Add padding so text doesn't touch the screen edges */
  line-height: 2; /* For better readability */
}

.terminal {
  width: 90%;
  max-width: 600px;
  background-color: #000;
  border-radius: 8px;
  padding: 20px;
  padding-top: 0;
  box-shadow: 0px 0px 10px rgba(0, 255, 0, 0.5);
  margin: 0 auto;
}

.terminal-header {
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  gap: 8px;
}

.buttons span {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
}

.close {
  background-color: #ff5f56;
}

.minimize {
  background-color: #ffbd2e;
}

.maximize {
  background-color: #27c93f;
}

.terminal-title {
  color: #ddd;
  font-size: 14px;
}

pre {
  margin: 0;
  white-space: pre-wrap;
}

a {
  color: #00ff00; /* Same color as the text */
  text-decoration: underline; /* Underline links */
}

.visible-content {
  display: block;
}

.hidden-content {
  display: none;
}

body.js-enabled .visible-content {
  display: none;
}

body.js-enabled .hidden-content {
  display: block;
}
